body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-content {
    text-align: center;
    flex: 1;
}

h1 {
    text-align: left; /* Align "Pasta Clicker" text to the left */
    font-size: 36px;
    margin-bottom: 20px;
}

details {
    text-align: left; /* Align "Pasta Clicker" text to the left */
    font-size: 18px;
    margin-bottom: 20px;
}

.pasta {
    width: 120px;
    height: 120px;
    background: url('images/pasta.png') no-repeat center/contain;
    margin: 20px auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#pasta:hover {
    transform: scale(1.4);
}
#pasta:active {
    transform: scale(1.6);
}

.score {
    font-size: 24px;
    margin: 10px 0;
}

.side-panel {
    width: 200px;
    max-height: 400px;
    padding: 10px;
    background: #f9f9f9;
    border-left: 2px solid #ddd;
    overflow: scroll;
}

.side-panel h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#upgradeList {
    list-style-type: none;
    padding: 0;
}

#upgradeList li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.upgrade-button.reg-upg {
    width: 100%;
    padding: 10px;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.upgrade-button.cps-upg {
    width: 100%;
    padding: 10px;
    background: #47c8ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.upgrade-button.mpc-upg {
    width: 100%;
    padding: 10px;
    background: #35dc75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.upgrade-button.reg-upg:hover:not(.disabled) {
    background: #ff4500;
}
.upgrade-button.cps-upg:hover:not(.disabled) {
    background: #77baf0;
}
.upgrade-button.mpc-upg:hover:not(.disabled) {
    background: #38b768;
}

.upgrade-button.disabled {
    background: #ccc;
    cursor: not-allowed;
}

@keyframes pastaRain {
    0% {
        top: -50px;
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}

.pasta-rain {
    position: fixed; /* Fixed positioning to stay in the viewport */
    width: 50px;
    height: 50px;
    background: url('images/pasta.png') no-repeat center/contain;
    animation: pastaRain 3s linear;
    z-index: 1000;
}
